<%- include('../partials/header') %>

  <body>
    <form action="/appartments/edit/<%= appartment.id %>" method="POST" autocomplete="off" enctype="multipart/form-data">

      <label>Image</label>
      <input type="file" name="image" id="image">

      <label> Name</label>
      <input type="text" name="name" value="<%= appartment.name %>">

      <label>Furnished</label>
      <select name="furnished">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>

      <label>Rooms</label>
      <select name="rooms">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>

      <label>View</label>
      <select name="view" value="<%= appartment.view %>">
        <option value="seaView">seaView</option>
        <option value="gardenView">gardenView</option>
        <option value="pentHouse">pentHouse</option>
        <option value="normalView">normalView</option>
      </select>

      <label>Price</label>
      <input type="number" name="price" value="<%= appartment.price %>">
      <label>Services</label>
      <br>
      
      <input type="checkbox" name="services[]" value="Internet"> Internet<br>
      <input type="checkbox" name="services[]" value="Laundry facilities"> Laundry facilities<br>
      <input type="checkbox" name="services[]" value="Air conditioning"> Air conditioning<br>
      <input type="checkbox" name="services[]" value="Room Service"> Room Service<br>
      <input type="checkbox" name="services[]" value="Gym"> Gym<br>
      <input type="checkbox" name="services[]" value="Security"> Security<br>
      <input type="checkbox" name="services[]" value="Online rent payment"> Online rent payment<br>
      <br>

      <label>Email</label>
      <input type="text" name="email" value="<%= appartment.email %>">

      <label>Parking</label>
      <input type="checkbox" name="parking" value="<%= appartment.parking %>">

      <button type="submit">Update Appartment</button>
    </form>
  </body>

  <%- include('../partials/footer') %>