<table id="list">
  <thead>
    <tr>
      <th>RENT ROVER</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% appartments.forEach(function(appartment) { %>
      <tr> 
        <td><%= appartment.name %></td>
        <td><%= appartment.furnished %></td>
        <td><%= appartment.rooms %></td>
        <td><%= appartment.view %></td>
        <td><%= appartment.parking %></td>
        <td><%= appartment.price %></td>
        <td><%= appartment.services %></td>
        <td><%= appartment.email %></td>
      </tr>
      <% }); %>
    </tbody>


